{
  "presets": [["env", { "modules": false }], "stage-0", "react"],
  "plugins": ["transform-runtime", "react-hot-loader/babel"],
  "env": {
    "development": {
      "plugins": [["styled-components", { "ssr": true }]]
    },
    "production": {
      "plugins": [["styled-components", { "ssr": true, "displayName": false }]]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
